.home-page {
    flex: 1;
    max-width: 800px; 
    background-color: #F8F4EC;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #F7F8FA;
    border-bottom: 1px solid #F7F8FA;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    min-height: 750px;
    min-width: 800px;
}
.home-page-wrapper {
    max-width: 800px; 
    margin: 0 auto; 
    overflow: hidden; 
    min-height: 750px;
    margin-right: 500px;
}
.home-page-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #F8F4EC;
    height: 100%;
    margin-right: 80px;
}
.filter-box {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filter-box label {
    display: block;
    margin-bottom: 5px;
}
.filter-box input[type="checkbox"] {
    margin-right: 5px;
}
.filter-box label:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
@media (max-width: 480px) {
    .home-page-container {
    margin-right: 0;
    }
    .home-page-wrapper {
    margin-right: 0;
    overflow-x: hidden;
    }
    .home-page {
    min-width: 100%;
    }
    .home-page-container {
        flex-direction: column;
        align-items: center; 
    }
}